*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Young Serif', serif;
}

.background{
  background-color: #E1F0DA;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}
.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 0.25rem !important;
}
.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}
.text-justify {
  text-align: justify !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}
.text-dark {
  color:black; !important;
}

.image {
    width: 500px; /* Adjust the width of the container */
    height: 500px; /* Adjust the height of the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.bg-custom {
  background-color: #99BC85 !important;
}

.text-color{
  color: #3A4D39 !important;
}

.image-container {
    width: 100%;
    height: 500px; /* Adjust the height of the container */
    overflow: hidden;
    transition: transform 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}

.card-body {
    padding-top: 3px !important; /* Adjust the top padding as needed */
}
